@{
    ViewData["Title"] = "Form";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 style="align-content: center"> Start Form</h1>
</div>

<div class="container m-5"  >
    <form>
        <div class="row customType" >   
            <input type="text"/>
        </div>

        <div class="row customType">
            <input type="submit" value="Submit"/>
        </div>
        
        <ul>
            <li>
                1
            </li>

            <li>
                2
            </li>

            <li>
                3
            </li>
        </ul>
    </form>
</div>
