
@{
    ViewData["Title"] = "Courses";
    Layout = "/Views/Shared/_LayoutDashboard.cshtml";
}

@* <h1>D:\Internship\Projects\Project_1 VCS\first.project\Project\FrontEnd\WebApplication1\Views\Shared\_LayoutDashboard.cshtml </h1> *@