@using Microsoft.AspNetCore.Identity
@using UniversityRating.Data.Core.DomainModels.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "About";
    Layout = "/Views/Shared/_LayoutDashboard.cshtml";

}

<div class="main-panel">
    <nav class="navbar navbar-default navbar-fixed">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">About</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-left">

                    <li>
                        <a href="">
                            <i class="fa fa-search"></i>
                            <p class="hidden-lg hidden-md">Search</p>
                        </a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li>
                            <button type="submit" class="nav-link btn btn-link text-dark">
                                <a asp-controller="Home" asp-action="User">Account</a>
                            </button>
                        </li>

                        <li>
                            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                            </form>
                        </li>                        
                        
                    }
                    else
                    {
                        <li >
                            <a asp-area="Identity" asp-page="/Account/Register">Register</a>

                        </li>
                        <li >
                            <a asp-area="Identity" asp-page="/Account/Login">Login</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>


    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Light Bootstrap Table Heading</h4>
                            <p class="category">Created using Roboto Font Family</p>
                        </div>
                        <div class="content">

                            <div class="typo-line">
                                <h1>Header 1  University</h1>
                            </div>

                            <div class="typo-line">
                                <h2><p class="category">Header 2</p>The original Latin word universitas refers in general to "a number of persons associated into one body</h2>
                            </div>

                            <div class="typo-line">
                                <p><span class="category">Paragraph</span>The word university is derived from the Latin universitas magistrorum et scholarium, which roughly means "community of teachers and scholars".[1] While antecedents had existed in Asia and Africa</p>
                            </div>
                            <div class="typo-line">
                                <p class="category">Quote</p>
                                <blockquote>
                                    <p>
                                        Their endowment by a prince or monarch and their role in training government officials made early Mediterranean universities similar to Islamic madrasas, although madrasas were generally smaller, and individual teachers, rather than the madrasa itself, granted the license or degree.[20] Scholars like Arnold H.
                                        Green and Hossein Nasr have argued that starting in the 10th century, some medieval Islamic madrasas became universities.[21][22] However, scholars like George Makdisi, Toby Huff and Norman Daniel[23] argue that the European university has no parallel in the medieval Islamic world.
                                    </p>
                                    <small>
                                        Steve Jobs, CEO Apple
                                    </small>
                                </blockquote>
                            </div>

                            <div class="typo-line">
                                <p class="category">Muted Text</p>
                                <p class="text-muted">
                                    The university is generally regarded as a formal institution that has its origin in the Medieval Christian tradition. European higher education
                                </p>
                            </div>

                            <div class="typo-line">
                                <h2>
                                    <p class="category">Small Tag</p>Early modern universities
                                    <br><small>".small" is a tag for the headers</small>
                                </h2>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>