
@using Microsoft.AspNetCore.Identity
@using UniversityRating.Data.Core.DomainModels.Identity
@using UniversityRating.Presentation.Models.University
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model UniversityRating.Presentation.Models.Home.IndexViewModel
@{
    ViewData["Title"] = "Feedback";
    Layout = "/Views/Shared/_LayoutDashboard.cshtml";

}

<div class="main-panel">
    <nav class="navbar navbar-default navbar-fixed">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Feedback</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-left">

                    <li>
                        <a href="">
                            <i class="fa fa-search"></i>
                            <p class="hidden-lg hidden-md">Search</p>
                        </a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li>
                            <button type="submit" class="nav-link btn btn-link text-dark">
                                <a asp-controller="Home" asp-action="User">Account</a>
                            </button>
                        </li>

                        <li>
                            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                            </form>
                        </li>

                    }
                    else
                    {
                        <li>
                            <a asp-area="Identity" asp-page="/Account/Register">Register</a>

                        </li>
                        <li>
                            <a asp-area="Identity" asp-page="/Account/Login">Login</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</div>



@*<div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">



                        <div class="header">
                            <h4 class="title">List of Teachers</h4>
                            <p class="category">Teachers of university in Moldova</p>
                        </div>
                        <div class="content table-responsive table-full-width">



                            <table class="table table-hover table-striped">
                                <select>
                                    <option value="volvo">Volvo</option>
                                    <option value="saab">Saab</option>
                                    <option value="mercedes">Mercedes</option>
                                    <option value="audi">Audi</option>
                                </select>

                                <thead>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Averange Mark</th>
                                <th>Email</th>
                                <th>Type Teacher</th>
                                <th>University</th>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>*@




<div class="main-panel">
    <div class="content">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">University Comments</h4>
                                <p class="category">choose which university to view the comment </p>
                            </div>
                            <div class="content all-icons">
                                @*<div class="row">*@
                                <select id="selectBox" onchange="getComments()">
                                    @foreach (var teacher in Model.TeacherShows)
                                    {
                                        <option value="@(teacher.Id)">@($"{teacher.FirstName}")</option>
                                    }
                                </select>
                                @*</div>*@
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

    <script>
        function getComments() {
            var selectBox = document.getElementById("selectBox");
            var selectedValue = selectBox.options[selectBox.selectedIndex].value;
            console.log("Test " + selectedValue)
            $.ajax({
                type: "POST",
                url: "@Url.Action( "Feedback","Home")",
                data: { "str": selectedValue },
                success: function(data) {
                    console.log(data)
                }
        });
        }
    </script>
