@using Microsoft.AspNetCore.Identity
@using UniversityRating.Data.Core.DomainModels.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Courses";
    Layout = "/Views/Shared/_LayoutDashboard.cshtml";

}

<div class="main-panel">

</div>