@using Microsoft.AspNetCore.Identity
@using UniversityRating.Data.Core.DomainModels.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "About";
    Layout = "/Views/Shared/_LayoutDashboard.cshtml";

}

<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">List</h4>
                            <p class="category">choose your specialities</p>
                        </div>
                        <div class="content all-icons">
                            <div class="row">
                                <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                                    <div class="font-icon-detail">
                                        <i class="pe-7s-album"></i>
                                        <input type="text" value="pe-7s-album">
                                    </div>

                                </div>
                                <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                                    <div class="font-icon-detail">
                                        <i class="pe-7s-arc"></i>
                                        <input type="text" value="pe-7s-arc">
                                    </div>

                                </div>
                                <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                                    <div class="font-icon-detail">
                                        <i class="pe-7s-back-2"></i>
                                        <input type="text" value="pe-7s-back-2">
                                    </div>

                                </div>
                                <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                                    <div class="font-icon-detail">
                                        <i class="pe-7s-bandaid"></i>
                                        <input type="text" value="pe-7s-bandaid">
                                    </div>

                                </div>
                                <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                                    <div class="font-icon-detail">
                                        <i class="pe-7s-car"></i>
                                        <input type="text" value="pe-7s-car">
                                    </div>

                                </div>
                                <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                                    <div class="font-icon-detail">
                                        <i class="pe-7s-diamond"></i>
                                        <input type="text" value="pe-7s-diamond">
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
