@using Microsoft.AspNetCore.Identity
@using UniversityRating.Data.Core.DomainModels.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "User";
    Layout = "/Views/Shared/_LayoutDashboard.cshtml";

}

<div class="main-panel">
    <div class="content">
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        
                        <div class="col-md-4">
                            <div class="card card-user">
                                <div class="image">
                                    <img src="/img/computers.png" />
                                </div>
                                <div class="content">
                                    <div class="author">
                                        <a>
                                            <img class="avatar border-gray" src="/img/profile.png" alt="..." />

                                            <h4 class="title">
                                                @(User.Identity.Name)<br />
                                            </h4>
                                        </a>
                                    </div>

                                </div>
                                <hr>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Profile</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <p>Login or Register to have Setings Account </p>

                                    </div>
                                    <button type="submit" class="btn btn-info btn-fill" href="/Identity/Account/Login">
                                        <a class=" btn-info btn-fill" href="/Identity/Account/Login">Login</a>
                                    </button>

                                    <button type="submit" class="btn btn-info btn-fill" href="/Identity/Account/Register">
                                        <a class=" btn-info btn-fill" href="/Identity/Account/Register">Register</a>
                                    </button>

                                </div>
                            </div>

                            <div class="clearfix"></div>
                        </form>

                    </div>
                </div>
            </div>
        }

    </div>
</div>
