@using Microsoft.AspNetCore.Identity
@using UniversityRating.Data.Core.DomainModels.Identity
@using UniversityRating.Presentation.Models.Teacher
@using UniversityRating.Presentation.Models.University
@using UniversityRating.Services.Common.DTOs.Enums
@model UniversityRating.Presentation.Models.Home.IndexViewModel
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Universities";
    Layout = "/Views/Shared/_LayoutDashboard.cshtml";

}

<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">List of University</h4>
                            <p class="category">Sort By</p>
                            <div class="row">

                                <div class="col-md-10">
                                    <select name="Universities" class="form-control d-inline-block" id="sortColumn" style="width: 150px" asp-items="Html.GetEnumSelectList<UniversitiesSortColumn>()">
                                        <option selected="selected" value="">Please select</option>

                                    </select> <i class="fas fa-arrow-up" id ="sortTypeButton" data-sort-type="Asc"></i>
                                </div>

                                <div class="col-md-2 ">
                                    <input class="form-control" style="width: 150px" type="text" placeholder="search"  id="search"/>
                                </div>
                            </div>
                        </div>

                        <div class="content table-responsive table-full-width" id="teachers">
                            <table class="table table-hover table-striped table-striped table-bordered table-sm" data-toggle="table" data-sort-name="date" data-sort-order="desc">
                                <thead>
                                    <tr>
                                        <th >Id</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th><a href = "#" id="orderMark"><i class="fas fa-sort"></i></a>Average Mark</th>
                                        <th><a href="#" id="orderAge"><i class="fas fa-sort"></i></a>Age</th>
                                        <th>Contact</th>
                                    </tr>
                                </thead>
                                <tbody id="resultsTable">
                                   @await Html.PartialAsync("_UniversityTableRecords", Model.UniversityShowViewModels)
                                </tbody>
                            </table>
                        </div>

                        <div>
                            <a class="btn btn-success" id="moreUniversities" style="margin-bottom: 10px" data-page-number="1">
                                <i class="fa fa-plus"></i> Show More Universities
                            </a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var pageNumber = 1;
        $(function() {
            $("#sortTypeButton").click(function() {
                $(this).toggleClass("fa-arrow-up").toggleClass("fa-arrow-down");

                if ($(this).attr("data-sort-type") == "Asc") {
                    $(this).attr("data-sort-type", "Desc");
                } else {
                    $(this).attr("data-sort-type", "Asc");
                }
                pageNumber = 1;
                var url = '@Url.Action("UniversitySort")' +
                    '?universitiesSortColumn=' +
                    $("#sortColumn").val() +
                    '&sortType=' + $(this).attr("data-sort-type") +
                    '&pageNumber=' +
                    pageNumber +
                    '&search=' +
                    $("#search").val() +
                    '&skipRecords=' +
                    false;

                $.get(url,
                    function(response) {
                        $("#resultsTable").html($(response));
                    });
            });


            $("#search").bind("change",
                function() {
                    pageNumber = 1;
                    var url = '@Url.Action("UniversitySort")' +
                        '?universitiesSortColumn=' +
                        $("#sortColumn").val() +
                        '&sortType=' + $(this).attr("data-sort-type") +
                        '&pageNumber=' +
                        pageNumber +
                        '&search=' +
                        $("#search").val() +
                        '&skipRecords=' +
                        false;
                    $("#resultsTable").empty();
                    $.get(url,
                        function(response) {
                            $("#resultsTable").append($(response));
                        });
                });
        });
        $(function() {
            $("#moreUniversities").click(function() {
                pageNumber ++;
                var url = '@Url.Action("UniversitySort")' +
                    '?universitiesSortColumn=' +
                    $("#sortColumn").val() +
                    '&sortType=' + $(this).attr("data-sort-type") +
                    '&pageNumber=' +
                    pageNumber +
                    '&search=' +
                    $("#search").val();

                $.get(url,
                    function(response) {
                        $("#resultsTable").append($(response));
                    });
            });

            $("#sortColumn").change(function() {
                pageNumber = 1;
                var url = '@Url.Action("UniversitySort")' +
                    '?universitiesSortColumn=' +
                    $("#sortColumn").val() +
                    '&sortType=' + $(this).attr("data-sort-type") +
                    '&pageNumber=' +
                    pageNumber +
                    '&search=' +
                    $("#search").val() +
                    '&skipRecords=' +
                    false;

                $.get(url,
                    function(response) {
                        $("#resultsTable").html($(response));
                    });
            });
        });
    </script>
}


