
@{
    ViewData["Title"] = "Index";
    Layout = "/Views/Shared/_LayoutDashboard.cshtml";
}



<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">

                        <div class="header">

                            <h2>Add differ Marks</h2>
                            <br>
                            <ul class="nav nav-pills" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#markTeacher">Mark Teacher</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#markCourse">Mark Course</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#markCourseTeacher">Mark Course Teacher</a>
                                </li>
                            </ul>


                            <div class="tab-content">

                                <div id="markTeacher" class="container tab-pane active">
                                    <br>
                                    <h3>markTeacher</h3>
                                    <p>Add a mark to teacher-------------</p>
                                </div>

                                <div id="markCourse" class="container tab-pane fade">
                                    <br>
                                    <h3>markCourse</h3>
                                    <p>Add a mark to Course-------------</p>
                                </div>

                                <div id="markCourseTeacher" class="container tab-pane fade">
                                    <br>
                                    <h3>markCourseTeacher</h3>
                                    <p>Add a mark to Course teacher-------------</p>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>