@model UniversityRating.Services.Common.DTOs.Comment.CommentUniversityShowDto
@{
    ViewData["Title"] = "Edit";
}

@{
    Layout = null;
}

<form asp-controller="Comment" asp-action="AddOrEdit" method="post">
    <div class="form-group shadow-textarea">
        <textarea asp-for="Subject" class="form-control z-depth-1" id="subjectCommentUniversity" rows="2" placeholder="Write subject here..."></textarea>
    </div>
    
    <div class="form-group">
        <label for="exampleFormControlTextarea3">Comment</label>
        <textarea asp-for="Message" class="form-control" id="messageCommentUniversity" rows="8"></textarea>
    </div>
    
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
        <input type="reset" value="Reset" class="btn" />
    </div>
</form>